.selects {
    margin-top: 74px;


    &__wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__wrap-right {
        flex-grow: 1;
    }

    &__wrap-left {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 6.2;
    }

    &__btn {
        margin-top: 27px;
        position: relative;
        
        font-family: 'Formular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        color: #A3A6A9;

        &::before, &::after {
            content: '';
            position: absolute;
            background-color: #A3A6A9;
            width: 16px;
            height: 2px;
            right: -24px;
            top: 50%;
        }

        &::before {
            transform: rotate(45deg)
        }
        &::after {
            transform: rotate(-45deg)
        }

    }
}
@media (max-width: 560px) {
    .selects {
        margin-top: 32px;

        &__wrap {
            display: block;
            width: 272px;
            margin: 0 auto;
        }

        &__btn {
            margin-top: 19px;
        }

        &__wrap-left {
            width: 272px;
        }
    }

}