@import "../../fonts/fonts";
@import '../../styles/null';

body {
    font-family: 'Roboto-Regular', serif;
}
.app {
    padding: 81px 24px 40px;
}

.title {
    font-family: 'Rubik-Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #000000;
}

@media (max-width: 560px) {
    .title {
        text-align: center;
        font-size: 32px;
        line-height: 38px;
    }

}